* {
    margin: 0;
    padding: 0;
        font-family: Montserrat;
}

body{
    background-color: #FAF6FF;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
}

.caja{
    width: 100%;
    height: auto;
    background-color: #ECE0FE;
    display:inline-block;
}
.nav-bar{
    width: 100%;
    height: auto;
    background-color: #ECE0FE;
    font-family: 'Montserrat';
    margin-left: 5%;
    margin-right:5%;
    padding-top: 2%;
}

li{
    display: inline-block;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

span{
color:#2D2D2D;
cursor: pointer;
}

.logo{
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #2D2D2D;
    text-align: center;
}

.buscador{
    height: auto;
    padding: 15px;

}

.input--search{
    width: 90%;
    height: auto;
}

main{
    margin: 5%
}

nav a span{
    padding-right:0;
    padding-left:30%;
}

nav li p{
    padding-left: 50px;
    padding-right: 50px;
}

.enlaces{
    display:flex;
    justify-content:space-around;
    padding: 10px;
    font-size: 14px;
}

h1{
font-size: 20px;
font-variant: small-caps;
font-weight: medium;
letter-spacing: 0.05em;
padding: 10px;
margin: 10px;
text-align: center;
}

.ofertas--titulo{
    background-color: #FAFA62;
}

.galeria--titulo{
    background-color: #ECE0FE;
}

.productos--titulo{
    background-color: #ECE0FE;
}

footer{
    text-align: center;
    padding: 40px;
    font-size: 12px;
}